// 通过检查，查看元素样式声明
.dark .content__default {
    background-color: rgba(58,58,92,0.7);
    color: red;
}
#chinese-resume{
    font-family: "PingFang SC", "Microsoft YaHei";
    .profile{
        display: flex;
        justify-content: space-between;
    }
    .profile-box{
        display: flex;
        flex-direction: column;   
        span{
            line-height: 18px
        }
    }
 
    .profile-name {
        font-weight: 700;
        margin: 0;
        margin-bottom: 10px;
    }
    .sec-box{
        border-bottom: 1px solid #404040;
        border-color: rgb(109, 181, 87);
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .title{
        color:rgb(109, 181, 87);
        font-size: 16px;
        font-weight: 600;
    }
    .option-box{
        display: flex;
        justify-content: space-between;
        .name{
            font-weight: 600
        }
        .sec{
            line-height: 20px;
            font-size: 13px;
            display: block;
        }
    }
}

.mt8{
    margin-top:8px;
}